{% extends 'base.html.twig' %}

{% block body %}
	<h1>{{title}}</h1>

	<p>
		Page d'acceuil de qualité 
	</p>
    <p>Accédez à la liste des offres</br></p>
    <a href="{{path('offres')}}" class="btn btn-primary">Offres</a>


{% endblock %}
