{% extends 'base.html.twig' %}

{% block title %}Offres de qualité
{% endblock %}

{% block body %}
	<section class="offres">
		{% for offre in offres %}
			<h2>{{offre.Title}}</h2>
			<p>Ville:
				{{offre.Ville}}</br>
				Type de contrat:
				{{offre.typeDeContrat}}</br></p>

			<a href="{{path('offreShow', {'id':offre.id}) }}" class="btn btn-primary">Montrer</a>


		{% endfor %}


	</section>


{% endblock %}
