{% extends 'base.html.twig' %}

{% block title %}Hello IndeedController!
{% endblock %}

{% block body %}
	<section class="offres">
		<h2>Article de qualité</h2>
		<p>Texte de qualité</p>
		<a class="btn btn-secondary">Postuler</a>


	</section>


{% endblock %}
